<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            insert webpage form
        </h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn" > Topic_name </label>
            <select name="'tn" id="'tn">
                 {% for to in LTO %}
                       <option value="{{to}}">"{{to.topic_name}}"</option>
                 {% endfor %}
            </select>
            <br><br>
            <label for="na"> name </label>
            <input type="'text" name="na" id="na"> <br>
            <label for="ur"> URL </label>
            <input type="text" URL="ur" id="ur"> <br>
            
            <input type="submit" value="insertwebpage">
        </form>
    </center>
</body>
</html>
